<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

	<settings>
		<!-- [是否 启用 数据中 A_column 自动映射 到 java类中驼峰命名的属性 default:fasle] -->
		<setting name="mapUnderscoreToCamelCase" value="true" />
	</settings>

	<plugins>
		<plugin interceptor="com.my.sa.core.data.mybatis.PageSortInterceptor">
			<property name="dbtype" value="mysql" />
		</plugin>
	</plugins>

</configuration>